# inception data
srv
docker-compose.yml
inception-app-webapp-25.2-standalone.jar


# sensitive data
src/data/human_annotations
src/data/lfqa-*
src/data/plots
src/data/prolific
.env


# code and cache
.idea
**__pycache__
