## The following requirements were added by pip freeze:
dkpro-cassis==0.7.3
inceptalytics==0.1.1
wordcloud==1.8.2.2
transformers==4.34.0
torch==2.1.0
accelerate==0.23.0
langchain==0.0.312
pycountry
flash-attn==2.2.2
einops==0.7.0
sentencepiece
deepspeed>=0.10.0
accelerate>=0.21.0,<0.23.0  # 0.23.0 will cause an incorrect learning rate schedule when using deepspeed, which is likely caused by https://github.com/huggingface/accelerate/commit/727d624322c67db66a43c559d8c86414d5ffb537
peft>=0.4.0
bitsandbytes>=0.41.1
protobuf
wandb
vllm
python-dotenv
